{% extends '::base.html.twig' %}
         
{% block body %}
<h1>Success</h1>
<p>Override this template by creating a file app/Resources/FPWHMCSBundle/Signup/complete.html.twig</p>

<h2>Template example</h2>
<pre>
{{ '{#' }} extend our master template {{ '#}' }}
{{ '{%' }} extends '::base.html.twig' {{ '%}' }}
{{ '{#' }} set our content block (body) {{ '#}' }}
{{ '{%' }} block body {{ '%}' }}
&lt;p&gt;Your content here&lt;/p&gt;
{{ '{%' }} endblock {{ '%}' }}
</pre>
{% endblock %}